<configuration>
	<connectionStrings>
		<add name="BakeryDB"
			 connectionString="Server=localhost;Database=BakeryDB;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>



<!--CREATE TABLE Ingredients (
IngredientId INT IDENTITY(1,1) PRIMARY KEY,
Name NVARCHAR(100) NOT NULL,
Price Double(10, 2) NOT NULL
);
INSERT INTO Ingredient (Name, Price)
VALUES ('Cheese', 0.50),
       ('Lettuce', 0.20),
       ('Tomato', 0.30);

CREATE TABLE Sandwiches (
SandwichId INT IDENTITY(1,1) PRIMARY KEY,
Name NVARCHAR(100) NOT NULL,
BasePrice double(10, 2) NOT NULL,
BreadType NVARCHAR(50) NOT NULL
);-->
<!--INSERT INTO Sandwich (BakeryId, Name, BasePrice, BreadType)
VALUES (1, 'Club Sandwich', 5.99, 'Wheat');-->

<!--CREATE TABLE Bakery (
BakeryId INT IDENTITY(1,1) PRIMARY KEY,
Name NVARCHAR(100) NOT NULL,
VATPercentage double(5, 2) NOT NULL
);-->
<!--INSERT INTO Bakery (Name, VATPercentage)
VALUES ('Delightful Bakery', 15.00);-->


<!--CREATE TABLE SandwichIngredients (
SandwichId INT NOT NULL,
IngredientId INT NOT NULL,
FOREIGN KEY (SandwichId) REFERENCES Sandwich(SandwichId),
FOREIGN KEY (IngredientId) REFERENCES Ingredient(IngredientId),
PRIMARY KEY (SandwichId, IngredientId)
);-->
<!--INSERT INTO SandwichIngredients (SandwichId, IngredientId)
VALUES (1, 1),
(1, 2),
(1, 3); -->